In [13]:
string=" "

In [15]:
string

' '

In [17]:
print(string)

In [23]:

t='''jj
hey'''
print(t)

jj
hey

In [47]:
string='this is suman'

In [59]:
print(string[1:2])

h

In [67]:
age=23
age2='45'
age_c=str(age)
msg='i am '+ age2 + 'year old'
print(msg)

i am 45year old

In [69]:
type(msg)

str

In [107]:
my_name='suman'
print(str('hello'))

hello

In [83]:
print('python'[2])

t

In [85]:
my_str=  'I find Python programming very interesting!'
print(my_str[14:25])

programming

In [87]:

print(my_str[14:-18])

programming

In [89]:
print(my_str[14:24])

programmin

In [93]:

print(my_str.split())

['I', 'find', 'Python', 'programming', 'very', 'interesting!']

In [119]:
my_string = 'Hello, World! world world world' 
substring_present = 'World' in my_string
print("Is 'World' present in the string?", substring_present)

Is 'World' present in the string? True

In [97]:
my_string = 'Hello, World!'
index_of_o = my_string.index('o')

In [99]:
print(index_of_o)

4

In [123]:
index_of_World = my_string.count('o')
print("Index of 'World': ", index_of_World)

Index of 'World':  5

In [129]:
ascii_a = ord('g')
ascii_A = ord('A')
ascii_0 = ord('0')
# Print the results
print("ASCII value of 'a': ", ascii_a)
print("ASCII value of 'A': ", ascii_A)
print("ASCII value of '0': ", ascii_0)

ASCII value of 'a':  103
ASCII value of 'A':  65
ASCII value of '0':  48

In [131]:
print("ASCII value of 'h': ", ord('h'))
print("ASCII value of 'w': ", ord('w'))
comparison_result = 'hello' < 'world'
print("Is 'hello' less than 'world'? ", comparison_result)

ASCII value of 'h':  104
ASCII value of 'w':  119
Is 'hello' less than 'world'?  True

In [133]:
book = "the sound and the fury"
print(book.title())

The Sound And The Fury

In [139]:
 my_str=  'I find Python programming very interesting!'
'I fin' in my_str or '!!' in my_str
 '!!' in my_str

False

In [149]:
a= [1,2,3,5,[5,6,7],8]
print(type(a))
del a[3]
print(a)

<class 'list'>
[1, 2, 3, [5, 6, 7], 8]

In [171]:
my_list = [34, 1, 67, 32, 8, 90]
my_list.sort(reverse=True)
print(my_list)

[90, 67, 34, 32, 8, 1]

In [167]:
my_list = [45,7,3,67,89,55,3]
my_list.sort()
print(my_list)

[3, 3, 7, 45, 55, 67, 89]

In [175]:

my_list = ['first', 'second', 'third', 'fourth']
my_list.sort()
print(my_list)

['first', 'fourth', 'second', 'third']

In [187]:
languages=['i','py']

#languages = languages + ['Python']
languages = languages + 'Python'
print(languages)

TypeError: can only concatenate list (not "str") to list

In [191]:
person = {'name': 'Dinesh', 'age': 45, 'married': True, 'BE' : 'qualification'}
print(person)

{'name': 'Dinesh', 'age': 45, 'married': True, 'BE': 'qualification'}

In [201]:
print(person["Dinesh"])

KeyError: 'Dinesh'

In [203]:
person = {'name': 'John', 'age': 30}
#person_age = person.get('age')
print(person.get('age'))

30

In [207]:
dict_a = {'name': 'Alice', 'age': 25}
dict_b = {'name': 'Bob', 'age': 30}
is_same = set(dict_a.items()) == set(dict_b.items())
print(dict_a)
print(dict_b)
print(is_same)

{'name': 'Alice', 'age': 25}
{'name': 'Bob', 'age': 30}
False

In [213]:
person = {'name': 'John', 'age': 30, 'eye_color': 'blue'}
pop_removed_entry = person.pop('age')
del person['name'] # Remove item with key 'eye_color'  
print(pop_removed_entry)
print(person)

30
{'eye_color': 'blue'}

In [221]:
person = {'name': 'John', 'age': 30}
additinoal_info = {'age': 25, 'married': False}


merged_dict = person | additional_info
#merge_dic={**person,**additinoal_info}
print(merge_dic)

{'name': 'John', 'age': 25, 'married': False}

In [219]:
print(additional_info == additinoal_info)

True

In [225]:
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
employee.add('city', 'Chennai')

AttributeError: 'dict' object has no attribute 'add'

In [227]:
employee['city']='Chennai'

In [229]:
print(employee)

{'name': 'Vidya', 'gender': 'F', 'age': 25, 'city': 'Chennai'}

In [233]:
employee.update({'city': 'Chennai'})

In [261]:
my_tuple = (1,4,'i')
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 4, 'i')

In [263]:
my_string = 'hello'
my_tuple = tuple(my_string)
print(my_tuple)

TypeError: 'tuple' object is not callable

In [265]:
empty_tuple = tuple()

TypeError: 'tuple' object is not callable

In [274]:
empty_tuple = ()
print(type(empty_tuple))
print(empty_tuple)

<class 'tuple'>
()

In [278]:
my_string = 'hello,'
my_tuple = tuple(my_string)
print(my_tuple)

TypeError: 'tuple' object is not callable

In [284]:
t=('h', 'e', 'l', 'l', 'o')
print(t)
print(type(t))

('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [286]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = tuple(zip(list1, list2))
print(zipped)

TypeError: 'tuple' object is not callable