In [1]:
list=['name',34,67.89,True]
print(type(list))

<class 'list'>

In [11]:
#The following question is similar to the ones that can be asked in interviews at companies such as KPMG
#and CRG Solutions for the data analyst role. Make sure to attempt this question!
#Select the correct way from the given options to fetch 89 from the following list:
list1=[45,34,[35,76,[89],0,-1]]
print(list1[2][2][0])
print(type(list1[2][2][0]))
print(list1[2][2])
print(type(list1[2][2]))

89
<class 'int'>
[89]
<class 'list'>

In [13]:
print(list1[-1])

[35, 76, [89], 0, -1]

In [15]:
some_list = [5, 10, 15, 20, 25, 30, 35]
new_list = some_list[0::2] + some_list[1::2]
print(new_list)
print(some_list)

[5, 15, 25, 35, 10, 20, 30]
[5, 10, 15, 20, 25, 30, 35]

In [19]:
#Which option would give the average of the following list?
list1 = [1,1,3,5,6,7,5,3]
avg=(sum(list1)/len(list1))
print(avg)

3.875

In [62]:

list1 = [1, 2, 40, 50, 80, 3, 4]

In [54]:
list2 = [max(list1)]
list1.remove(max(list1))
list2.append(max(list1))
list2

[80, 50]

In [58]:
list2 = [max(list1)]
list1.remove(max(list1))
list2 += [max(list1)]
list2

[80, 50]

In [64]:
sorted(list1, reverse=True)[:2]

[80, 50]

In [66]:
sorted(list1)[-2:][::-1]

[80, 50]

In [72]:
list1=['Python','Java','Spark']
list2=['C','C++','C#']
list1.extend(list2)
print(list1)

['Python', 'Java', 'Spark', 'C', 'C++', 'C#']

In [74]:
#What will be the output of the following pseudocode?

#Initialise an empty list.
#Add a new element 5 in the list.
#Add the first three multiples of 2 in the list at the end.
#Remove the last element.
#print the list.

ls=[]
ls.append(5)
ls.extend([2,4,6])
ls.pop()
print(ls)

[5, 2, 4]

In [88]:
list1=[2,4,6,8,0]
list2=[3,5,7,9,1]
list1.extend(list2[::-1])
print(list1)
print(list2)
sorted=list1.sort()
print(sorted)
print(list1.pop())

[2, 4, 6, 8, 0, 1, 9, 7, 5, 3]
[3, 5, 7, 9, 1]
None
9

In [94]:
#What will be the output of the following code?   
list1=[2,4,6,8,0]
list2=[3,5,7,9,1]
list1.extend(list2[::-1])
list1.sort()
print(list1.pop())



###List1 and List2 are defined as two lists containing integers.

9

In [120]:
#sorted list
live=['one','two','three', 'four', 'five', 'six']
print(sorted(live))

TypeError: 'NoneType' object is not callable

In [124]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[1]

['Tableau', 'SQL']

In [126]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))

6

In [134]:
print(l)

[32, 34, 12, 27, 33, [14, 19]]

In [136]:
list1 = ['Sumana','Saru','Avinash','Abhi','Abhilash']
print(sorted(list1, key=len, reverse=True))

TypeError: 'NoneType' object is not callable

In [140]:
#q8 of tuple
t=(1,2,3)
*start, last = t[::-1]

(3, 2, 1)

In [148]:
t = ('P','y','t','h','o','n')

#"".join(t)
#str(t)

"".join(t[0:])

'Python'

In [150]:
t = ((1, 2), (3, 4), (5, 6))
t[1][1]

4

In [156]:
(2,5)*5

(2, 5, 2, 5, 2, 5, 2, 5, 2, 5)

In [166]:
a = ('a', 'b', 'c', 'd', 'e')
a[slice(2)]
#a[:2]

('a', 'b')