In [ ]:
#Sets are collections that are unordered and mutable.Sets are defined using curly braces {}.

In [4]:
#set constractore set()
empty_set = set()
print(empty_set) 
print(type(empty_set))

set()
<class 'set'>

In [22]:
#You can create a set with multiple items by placing them within curly braces {}, separated by commas.
#if you write the repeated iteam then set will consider first occurence.
color_set = {'red', 'green', 'blue' ,'blue' ,'black', 'margenta'}
print(color_set)

{'blue', 'margenta', 'red', 'black', 'green'}

In [24]:
#This means that you cannot access set items using numerical indices
example_set = {1, 2, 3}
print(example_set[0])  # This will raise an error

TypeError: 'set' object is not subscriptable

In [39]:
#Although direct access is not possible, if you need to access items by index, you can convert the set to a list or a tuple. 
example_set = {'apple', 'banana', 'cherry'}
example_list= list(example_set)
print(example_list)
print(type(example_list))
print(example_list[1][3])#indexing of index

['apple', 'cherry', 'banana']
<class 'list'>
r

In [55]:
#find the len with len()
print(len(example_set))

3

In [61]:
#Checking the membership of an item in a set
example_set = {'apple', 'banana', 'cherry'}
print('banana' in example_set)
print('Banana' in example_set) #python is case sensitive
print('mango' in example_set)

True
False
False

In [69]:
#add new iteam using .add()
example_set = {'apple', 'banana', 'cherry'}
example_set.add('mango')
example_set.add('mango')#it will add only one if that iteam is exisite then it will never add
example_set

{'apple', 'banana', 'cherry', 'mango'}

In [71]:
#If we try to add a list to a set using the .add() method we get a TypeError.
empty_set=set()
new_list=[3,6,75,54]
empty_set.add(new_list)
print(empty_set)

TypeError: unhashable type: 'list'

In [75]:
# if we use the .update() function, instead of adding the list to the set, it updates the set with items from the list. 
empty_set=set()
new_list=[3,6,75,54]
empty_set.update(new_list)
print(empty_set)

{54, 75, 3, 6}

In [77]:
#Removing items from sets
example_set = {'apple', 'orange', 'cherry', 'banana'}
example_set.remove('banana')
print(example_set)

{'apple', 'cherry', 'orange'}

In [81]:
example_set.remove('banana')
print(example_set) #it'll rise a error that iteam u r deleting is not present.

KeyError: 'banana'

In [85]:
#The .discard() method is used to remove a specific item from the set. If the item is present in the set, it is removed.
example_set = {'apple', 'orange', 'cherry'}
example_set.discard('pear') 
print(example_set)#n this case, 'pear' is not an item of example_set, no error is raised, and the set remains unchanged.

{'apple', 'cherry', 'orange'}

In [99]:
#pop() will delete the single item from the set
example_set = {'banana','apple' , 'mango','orange' ,'kiwi'}
removed_item = example_set.pop() 
print(removed_item)#sets the function removes items randomly, due to their unordered nature
print(example_set)

kiwi
{'orange', 'apple', 'mango', 'banana'}

In [101]:
#Checking the equality of two sets
set1 = {1, 2, 3, 3}
set2 = {3, 2, 1}
print(set1 == set2)

True

In [107]:
#string comparision
first_st={'a','b','c'}
second_st={'a','b','c'}
print(first_st == second_st)

first_str={'a','b','c','d'}
second_str={'a','b','c'}
print(first_str == second_str)

True
False

In [117]:
#Subsets:-A set A is considered a subset of set B if every item of A is also an item of B. .issubset() 
set1 = {1, 2, 3}
subset = {1, 2}
print(subset.issubset(set1))
print(set1.issubset(subset))

True
False

In [133]:
#Finding the union of sets
set1={2,5,6,7}
set2={3,6,5,3}
print(set1.union(set2))#You can use the .union() method to combine multiple sets.
print(set2.union(set1))

#Alternatively, you can use the | operator to find the union of two sets. This operator works similarly to the .union() method.
a=print('Thuis is | opration',set1 | set2)
print(type(a))

{2, 3, 5, 6, 7}
{2, 3, 5, 6, 7}
Thuis is | opration {2, 3, 5, 6, 7}
<class 'NoneType'>

In [147]:
#The intersection of two sets contains only the items that are present in both sets
set1 = {1, 2, 3}
set4 = {2, 3, 4}
set2={3,6,1}
print(set1.intersection(set4))
print(set1.intersection(set2,set4))#to or more set intersection

#You can also use the & operator to find the intersection of two sets
print(set1 & set4 )
print(set1 & set4 & set2)#to or more set intersection

{2, 3}
{3}
{2, 3}
{3}

In [157]:
#To find the difference between two sets, you can use the .difference() method or the - operator.
set1 = {1, 2, 3,6,7}
set5 = {2, 3,4}
print(set1.difference(set5))
print(set5.difference(set1))

{1, 6, 7}
{4}

In [159]:
#Finding the symmetric difference between two sets
set1 = {1, 2, 3}
set6 = {2, 3, 4}
print(set1.symmetric_difference(set6))
print(set6.symmetric_difference(set1))

{1, 4}
{1, 4}

In [163]:
#Two sets are disjoint if they have no common items
set1 = {1, 2, 3}
set6 = {4, 5, 6}
print(set1.isdisjoint(set6))

True

In [165]:
credit_card = {'Rahul', 'Priya', 'Amit', 'Ananya', 'Raj', 'Kunal'}
loan = {'Sonia', 'Vikram', 'Neha', 'Kunal', 'Anjali', 'Rahul'}
credit_card.intersection(loan)

{'Kunal', 'Rahul'}

In [167]:
credit_card.difference(loan)

{'Amit', 'Ananya', 'Priya', 'Raj'}