In [5]:
#Creating empty tuples
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [9]:
#Creating tuples with items
color_tuple = ('red', 'green', 'blue')
print(color_tuple)

('red', 'green', 'blue')

In [11]:
#for single-item tuples, a trailing comma is required
my_tuple = (1,)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1,)

In [13]:
#if u don't give , then check the type
my_value= (1)
print(type(my_value))
print(my_value)

<class 'int'>
1

In [19]:
#Creating tuples using the tuple constructor  tuple()
empty_tuple2 = tuple()
print(empty_tuple2)
print(type(empty_tuple2))

()
<class 'tuple'>

In [29]:
#You can convert a string to a tuple by passing the string as an argument to the tuple() constructor.
my_string = 'hello'
my_tuple =tuple(my_string)
print(my_tuple)
#In my_tuple Each character of the string becomes an individual item in the tuple.

('h', 'e', 'l', 'l', 'o')

In [37]:
#if you do scailcing or want to know particular index use []
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])
print(my_tuple[4])
#in index 5 there is error occurce bcz out of range
#print(my_tuple[5])

h
e
l
l
o

In [39]:
#You can also convert a list to a tuple by passing the list as an argument to the tuple() constructor.
list_example = [1, 2, 3]
tuple_from_list = tuple(list_example)
print(tuple_from_list)
print(type(tuple_from_list))

(1, 2, 3)
<class 'tuple'>

In [3]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = tuple(zip(list1, list2))
print(type(zipped))

<class 'tuple'>

In [5]:
print(len(zipped))

3

In [15]:
exp_dates = ('2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01') 
*date_1, *date_2 = exp_dates
print(exp_dates)

SyntaxError: multiple starred expressions in assignment (3584449300.py, line 2)

In [17]:
weight_of_rabbits = {1.5, 2.0, 1.8, 2.2, 1.9, 1.7, 2.5, 1.9, 2.1, 2.3, 2.0, 2.4}
print(len(weight_of_rabbits))

10

In [27]:
current_emp_names = {'Aditya', 'Manoj', 'Eric', 'Sanju', 'Tanveer'}


current_emp_names.add('Rashi')
current_emp_names.remove('Aditya')
print(current_emp_names)

{'Tanveer', 'Rashi', 'Manoj', 'Sanju', 'Eric'}

In [ ]:
credit_card = {'Rahul', 'Priya', 'Amit', 'Ananya', 'Raj', 'Kunal'}
loan = {'Sonia', 'Vikram', 'Neha', 'Kunal', 'Anjali', 'Rahul'}

In [31]:
expense_category = 'Groceries'

match expense_category:
    case 'Groceries' | 'Utilities': print('Essential expense')
    case 'Dining out' | 'Entertainment': print('Non-essential expense')
    case _: print('Other expense')

Essential expense

In [33]:
is_running = True
count = 0
while is_running:
    print('This is statement number', count)
    count += 1
    if count >= 5:
        is_running = False

This is statement number 0
This is statement number 1
This is statement number 2
This is statement number 3
This is statement number 4